{
  "name": "app",
  "version": "1.0.0",
  "dependencies": {
    "@aws-cdk/aws-cloudtrail": "^1.10.0",
    "@aws-cdk/aws-s3": "^1.10.0",
    "@aws-cdk/core": "^1.10.0",
    "@types/node": "^12.7.8",
    "typescript": "^3.6.3"
  }
}