{
  "name": "app",
  "version": "1.0.0",
  "lockfileVersion": 1,
  "requires": true,
  "dependencies": {
    "@aws-cdk/aws-cloudtrail": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/aws-cloudtrail/-/aws-cloudtrail-1.10.0.tgz",
      "integrity": "sha512-ftA5iPYeMkU3U/CX9aeLUSW6bY5CrEaxpUErVmE51WXwkF3lGcU1oNSv7kVIl9UxvrYbxxI8NP2Va+FOkZjbhg==",
      "requires": {
        "@aws-cdk/aws-events": "^1.10.0",
        "@aws-cdk/aws-iam": "^1.10.0",
        "@aws-cdk/aws-kms": "^1.10.0",
        "@aws-cdk/aws-logs": "^1.10.0",
        "@aws-cdk/aws-s3": "^1.10.0",
        "@aws-cdk/core": "^1.10.0"
      }
    },
    "@aws-cdk/aws-cloudwatch": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/aws-cloudwatch/-/aws-cloudwatch-1.10.0.tgz",
      "integrity": "sha512-5z9Smf+eWSVwpQY98q2ZXImuPBcqL8mwerUbXS6IYVgpZQN+pdU0v+g+W+DF6nR/mt9/6kuefTvOtylTAWsT2Q==",
      "requires": {
        "@aws-cdk/aws-iam": "^1.10.0",
        "@aws-cdk/core": "^1.10.0"
      }
    },
    "@aws-cdk/aws-events": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/aws-events/-/aws-events-1.10.0.tgz",
      "integrity": "sha512-iINLEw33tp4ns3BIwmK/HsoPGtfFJvmQe3zc3UUdr6qUIu/FDW2/fucQjPbW2sWCpGQX72zYPe5XVGjdizIngg==",
      "requires": {
        "@aws-cdk/aws-iam": "^1.10.0",
        "@aws-cdk/core": "^1.10.0"
      }
    },
    "@aws-cdk/aws-iam": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/aws-iam/-/aws-iam-1.10.0.tgz",
      "integrity": "sha512-r0s9cg+w32vmqqraIgPi9K62wxE+ubgQUd5wuxLebW6Q2kWETKjhht8s7upxHt9qZw+q0sFq+8KZ7xSBd40VnQ==",
      "requires": {
        "@aws-cdk/core": "^1.10.0",
        "@aws-cdk/region-info": "^1.10.0"
      }
    },
    "@aws-cdk/aws-kms": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/aws-kms/-/aws-kms-1.10.0.tgz",
      "integrity": "sha512-XLKVQlgoIxv7NVbKg/LCrfzojqjldthX1PmLxxkfwyQWgxYiSGk9JbP1apiUDNbD5ELBZ7ftWCqGRnWtW0vNQw==",
      "requires": {
        "@aws-cdk/aws-iam": "^1.10.0",
        "@aws-cdk/core": "^1.10.0"
      }
    },
    "@aws-cdk/aws-logs": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/aws-logs/-/aws-logs-1.10.0.tgz",
      "integrity": "sha512-Siy+07GSL7hwellLObIhkOGD8ekXgjWuhtghu5BagEYNOOw+tZLv4mXbMmXsc2paD65w/cxurODd7i69swBy/Q==",
      "requires": {
        "@aws-cdk/aws-cloudwatch": "^1.10.0",
        "@aws-cdk/aws-iam": "^1.10.0",
        "@aws-cdk/core": "^1.10.0"
      }
    },
    "@aws-cdk/aws-s3": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/aws-s3/-/aws-s3-1.10.0.tgz",
      "integrity": "sha512-iqbetJFTWmhg6I9zBG8lg13ewuN1mdd6AwtsuVeCIWpC1NRaketNDFzylHFg5DcrUSdyApXiEWIn/nH2fW6QQg==",
      "requires": {
        "@aws-cdk/aws-events": "^1.10.0",
        "@aws-cdk/aws-iam": "^1.10.0",
        "@aws-cdk/aws-kms": "^1.10.0",
        "@aws-cdk/core": "^1.10.0"
      }
    },
    "@aws-cdk/core": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/core/-/core-1.10.0.tgz",
      "integrity": "sha512-rb9zD9B0IFvV5RQevv8EuXNyydGuqDkvSG3aMr+rH+jYgR4rEakP+cc+SOUjR+ZNVzPOzVfq1kDqNYaqVMwzVA==",
      "requires": {
        "@aws-cdk/cx-api": "^1.10.0"
      }
    },
    "@aws-cdk/cx-api": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/cx-api/-/cx-api-1.10.0.tgz",
      "integrity": "sha512-mPDApbsJpJiTWDI+u0lgwjmigsgGWvviTH2nuwNY9Si9bIv9BaKCVldVwCdYHui0jsPWcAzLb+XCecMGu3u+Tg==",
      "requires": {
        "semver": "^6.3.0"
      },
      "dependencies": {
        "semver": {
          "version": "6.3.0",
          "resolved": "https://registry.npmjs.org/semver/-/semver-6.3.0.tgz",
          "integrity": "sha512-b39TBaTSfV6yBrapU89p5fKekE2m/NwnDocOVruQFS1/veMgdzuPcnOM34M6CwxW8jH/lxEa5rBoDeUwu5HHTw=="
        }
      }
    },
    "@aws-cdk/region-info": {
      "version": "1.10.0",
      "resolved": "https://registry.npmjs.org/@aws-cdk/region-info/-/region-info-1.10.0.tgz",
      "integrity": "sha512-38bT/KkJ8fRqL5RhjhPHsJJUMVFVJ9BjeIZhJKbOcxDdD3A2dDhXPYjMyLV6/2kcdBW/S8Vlnh2tnhcPj116hw=="
    },
    "@types/node": {
      "version": "12.7.8",
      "resolved": "https://registry.npmjs.org/@types/node/-/node-12.7.8.tgz",
      "integrity": "sha512-FMdVn84tJJdV+xe+53sYiZS4R5yn1mAIxfj+DVoNiQjTYz1+OYmjwEZr1ev9nU0axXwda0QDbYl06QHanRVH3A=="
    },
    "typescript": {
      "version": "3.6.3",
      "resolved": "https://registry.npmjs.org/typescript/-/typescript-3.6.3.tgz",
      "integrity": "sha512-N7bceJL1CtRQ2RiG0AQME13ksR7DiuQh/QehubYcghzv20tnh+MQnQIuJddTmsbqYj+dztchykemz0zFzlvdQw=="
    }
  }
}